mat-drawer-container {
    height: 100%;
}

a {
    width: 200px;
    padding: 7px;
    padding-left: 20px;
    text-align: left;
    font-size: 17px;
    color: white;
    text-decoration: none;
}

h2 {
    margin: 17px;
    margin-top: -5px;
}